/* reset padding and margins */

* {
	margin: 0px;
	padding: 0px;

}

h1{
  font-size: 60px;
  color: white;
}

a{
color:black;
text-decoration: none;
background-color: transparent;

}

h2 {
	font-family:copperplate;
	font-size: 20px;
  top: 200px;
	text-align: center;
  position: fixed;
  text-align: justify;
  line-height: 2;

}

/* container */
.container{
  margin-top: 200px;
  margin-bottom: 300px;
  display: grid;
  grid-template-columns: repeat(6,240px);
}

/* items */



.item {
	height: 240px;
	width: 240px;
	background: white;
	color: #167193;
	margin: 10px;
	padding: 10px;
	box-sizing: border-box;
	float: center; 
	transition: all 500ms ease; 
	cursor: pointer;
}

.no-margin .item {
  margin: 0px;
}

.no-margin .item:hover{
  animation-play-state: paused;
}

.item{
color: white;
animation: moveBg 10s ease 1s 2 alternate none;
animation-play-state: paused;
}

.item:hover{
  animation: moveBg 10s ease 0s 2 alternate none;
}


#button{
    height: 61px;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  float: center; 
  transition: all 500ms ease; 
  cursor: pointer;
  font-size: 52px;
  color:black;
}


#button-1{
background-image: url('../1-1.png');
background-size: 130%;
color: white;
animation: movebb 10s ease 0s 2 alternate none;
animation-play-state: paused;
}

#button-1:hover{
animation: movebb 10s ease 0s 2 alternate none;
}

@keyframes movebb {
  100% {
    background-position: bottom right;
  }
}

#button-2{
background-image: url('../1-2.png');
background-size: 130%;
color: white;
animation: moveaa 10s ease 0s 2 alternate none;
animation-play-state: paused;}

#button-2:hover{
animation: moveaa 10s ease 0s 2 alternate none;
}

@keyframes moveaa {
  100% {
    background-position: top right;
  }
}
#button-3{
background-image: url('../1-3.png');
background-size: 130%;
color: white;
animation: movecc 10s ease 0s 2 alternate none;
animation-play-state: paused;
}

#button-3:hover{

animation: movecc 10s ease 0s 2 alternate none;
}

@keyframes movecc {
  100% {
    background-position: bottom left;
  }
}

#button-4{
background-image: url('../1-4.png');
background-size: 130%;
color: white;
animation: movej 10s ease 0s 2 alternate none;
animation-play-state: paused;
}

#button-4:hover{

animation: movej 10s ease 0s 2 alternate none;
}

@keyframes movej {
  100% {
    background-position: bottom right;
  }
}



#button-5{
background-image: url('../1-5.png');
background-size: 130%;
color: white;
animation: movee 10s ease 0s 2 alternate none;
animation-play-state: paused;
}

#button-5:hover{

animation: movee 10s ease 0s 2 alternate none;
}

@keyframes movee {
  100% {
    background-position: bottom right;
  }
}




#button-6{
background-image: url('../1-6.png');
background-size: 130%;
color: white;
animation: movef 10s ease 0s 2 alternate none;
animation-play-state: paused;
}

#button-6:hover{

animation: movef 10s ease 0s 2 alternate none;
}

@keyframes movef {
  100% {
    background-position: bottom right;
  }
}




#button-7{
background-image: url('../1-7.png');
background-size: 130%;
color: white;
animation: moveg 10s ease 0s 2 alternate none;
animation-play-state: paused;
}

#button-7:hover{

animation: moveg 10s ease 0s 2 alternate none;
}

@keyframes moveg {
  100% {
    background-position:bottom right;
  }
}




#button-8{
background-image: url('../1-8.png');
background-size: 130%;
color: white;
animation: moveh 10s ease 0s 2 alternate none;
animation-play-state: paused;
}

#button-8:hover{

animation: moveh 10s ease 0s 2 alternate none;
}

@keyframes moveh {
  100% {
    background-position: bottom right;
  }
}


#button-9{
background-image: url('../1-9.png');
background-size: 130%;
color: white;
animation: mover 10s ease 0s 2 alternate none;
animation-play-state: paused;
}

#button-9:hover{

animation: mover 10s ease 0s 2 alternate none;
}

@keyframes mover {
  100% {
    background-position: bottom left;
  }
}




#button-10{
background-image: url('../1-10.png');
background-size: 130%;
color: white;
animation: moveq 10s ease 0s 2 alternate none;
animation-play-state: paused;
}

#button-10:hover{

animation: moveq 10s ease 0s 2 alternate none;
}

@keyframes moveq {
  100% {
    background-position: bottom right;
  }
}


#button-11{
background-image: url('../1-11.png');
background-size: 130%;
color: white;
animation: movew 10s ease 0s 2 alternate none;
animation-play-state: paused;
}

#button-11:hover{

animation: movew 10s ease 0s 2 alternate none;
}

@keyframes movew {
  100% {
    background-position: bottom right;
  }
}




#button-12{
background-image: url('../1-12.png');
background-size: 130%;
color: white;
animation: movev 5s ease 0s 2 alternate none;
animation-play-state: paused;
}

#button-12:hover{

animation: movev 10s ease 0s 2 alternate none;
}

@keyframes movev {
  100% {
    background-position: bottom left;
  }
}

@media (min-width: 668px) and (max-width: 1024px) {
  .container{
  display: grid;
  grid-template-columns: repeat(4,240px);
}
}

@media (min-width: 375px) and (max-width: 667px) {
  .container{
  display: grid;
  grid-template-columns: repeat(2,240px);
}
}







