/* reset padding and margins */

* {
  font-family:copperplate;
	margin: 0px;
	padding: 0px;

}


a{
color:black;
text-decoration: none;
background-color: transparent;

}

h2 {
font-family: 'PT Sans Narrow', sans-serif;
  font-size: 18px;
  top: 400px;
  text-align: center;
  position: fixed;
  text-align: justify;
  line-height: 2;


}


h3 {
font-family: 'PT Sans Narrow', sans-serif;
  font-size: 28px;
  top: 0px;
  right: 50px;
  text-align: right;
  position: fixed;
  line-height: 2;

}


#pallete{
	margin-top: 100px;
}


#sub{
font-family: 'PT Sans Narrow', sans-serif;
font-weight: 400;
font-size: 16px;
text-align: left;
  display: grid;
  grid-template-columns: repeat(1,240px);
  line-height: 1.25;
  letter-spacing: 0.5px;
  margin-right: 10px;
}

#sub2{
font-family: 'PT Sans Narrow', sans-serif;
font-weight: 400;
font-size: 16px;
text-align: left;
  display: grid;
  grid-template-columns: repeat(1,240px);
  line-height: 1.25;
  letter-spacing: 0.5px;
  margin-left: 460px;
}

#sub3{
font-family: 'PT Sans Narrow', sans-serif;
font-weight: 400;
font-size: 16px;
text-align: left;
  display: grid;
  grid-template-columns: repeat(1,240px);
  line-height: 1.52;
  letter-spacing: 0.5px;
  margin-left: 819px;
}

.backhome{
margin-left: 0px;
max-width: 50%;
}

.tab1{
	margin-right: 250px;
	margin-top: 100px;
}

.tab2{
	margin-right: 250px;
}

.tab3{
	margin-right: 154px;
}

.concept{
font-family: 'PT Sans Narrow', sans-serif;
  margin-right: 1300px;
  position: fixed;
  line-height: 1.5;
  text-align: left;
  margin-left: 15px;
  color: #e2b308;
}

.secondary{
font-family: 'PT Sans Narrow', sans-serif;
font-weight: lighter;
  margin-right: 1300px;
    margin-left: 15px;
    margin-top: -380px;
font-size: 13px;
/*color: #ffffe6;*/
background-color: black;
text-align: left;
/*  display: grid;
  grid-template-columns: repeat(1,240px);*/
  line-height: 1.5;
  letter-spacing: 0.5px;
/*  color: #336d8c;*/
}


#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 90%;
  min-height: 100%;
}


/* container */
.container{
  margin-top: 100px;
  margin-bottom: 300px;
  display: grid;
  grid-template-columns: repeat(6,240px);
}



/* items */
.Generator {
font-size: 50px;
text-align: right;
}

#GButton {
  width: 320px;
  height: 52px;
/*  background-color: white;*/
  margin: 20px;
  position: fixed;
  right: 70px;
  top: 770px;
/*  box-shadow: 10px 10px #FFD700*/;
}


div.a {
width: 50px;
height:50px;
 background-color:#AA3B19;
position:fixed;
    
}

div.b {
width: 50px;
height:50px;
 background-color:#0850BC;
position:fixed;
    
}
div.c {
width: 50px;
height:50px;
 background-color:#E2B317;
position:fixed;
    
}
div.d {
width: 50px;
height:50px;
 background-color:#000000;
position:fixed;
    
}

.container2{
  background-color:#1a1919; 
  margin-top: 50px;
  margin-bottom: 300px;
  width: 1440px;
  height: 720px;
}




.resizable {
  background: #bd2a06;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 300px;
  left: 100px;
}

.resizable2 {
  background: #335f91;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 360px;
  left: 290px;
}

.resizable3 {
  background: #daa900;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 600px;
  left: 160px;
}

.resizable4 {
  background: #daa900;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 250px;
  left: 550px;
}

.resizable5 {
  background: #335f91;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 750px;
  left: 500px;
}

.resizable6 {
  background: #bd2a06;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 550px;
  left: 600px;
}


.resizable7 {
  background: #335f91;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 280px;
  left: 770px;
}

.resizable8 {
  background: #daa900;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 470px;
  left: 865px;
}

.resizable9 {
  background: #bd2a06;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 715px;
  left: 920px;
}

.resizable10 {
  background: #335f91;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 630px;
  left: 1110px;
}

.resizable11 {
  background: #bd2a06;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 360px;
  left: 1200px;
}

.resizable12 {
  background: #daa900;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 560px;
  left: 1290px;
}



.resizable .resizers{
  width: 100%;
  height: 100%;
}

.resizable .resizers .resizer{
  width: 10px;
  height: 10px;
  position: absolute;
}

.resizable .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize; /*resizer cursor*/
}
.resizable .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}






.resizable2 .resizers{
  width: 100%;
  height: 100%;
}

.resizable2 .resizers .resizer{
  width: 10px;
  height: 10px;
  position: absolute;
}

.resizable2 .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize; /*resizer cursor*/
}
.resizable2 .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}
.resizable2 .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}
.resizable2 .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}




.resizable3 .resizers{
  width: 100%;
  height: 100%;
}

.resizable3 .resizers .resizer{
  width: 10px;
  height: 10px;
  position: absolute;
}

.resizable3 .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize; /*resizer cursor*/
}
.resizable3 .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}
.resizable3 .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}
.resizable3 .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}




.resizable4 .resizers{
  width: 100%;
  height: 100%;
}

.resizable4 .resizers .resizer{
  width: 10px;
  height: 10px;
  position: absolute;
}

.resizable4 .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize; /*resizer cursor*/
}
.resizable4 .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}
.resizable4 .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}
.resizable4 .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}




.resizable5 .resizers{
  width: 100%;
  height: 100%;
}

.resizable5 .resizers .resizer{
  width: 10px;
  height: 10px;
  position: absolute;
}

.resizable5 .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize; /*resizer cursor*/
}
.resizable5 .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}
.resizable5 .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}
.resizable5 .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}





.resizable6 .resizers{
  width: 100%;
  height: 100%;
}

.resizable6 .resizers .resizer{
  width: 10px;
  height: 10px;
  position: absolute;
}

.resizable6 .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize; /*resizer cursor*/
}
.resizable6 .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}
.resizable6 .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}
.resizable6 .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}





.resizable7 .resizers{
  width: 100%;
  height: 100%;
}

.resizable7 .resizers .resizer{
  width: 10px;
  height: 10px;
  position: absolute;
}

.resizable7 .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize; /*resizer cursor*/
}
.resizable7 .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}
.resizable7 .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}
.resizable7 .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}




.resizable8 .resizers{
  width: 100%;
  height: 100%;
}

.resizable8 .resizers .resizer{
  width: 10px;
  height: 10px;
  position: absolute;
}

.resizable8 .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize; /*resizer cursor*/
}
.resizable8 .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}
.resizable8 .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}
.resizable8 .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}






.resizable9 .resizers{
  width: 100%;
  height: 100%;
}

.resizable9 .resizers .resizer{
  width: 10px;
  height: 10px;
  position: absolute;
}

.resizable9 .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize; /*resizer cursor*/
}
.resizable9 .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}
.resizable9 .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}
.resizable9 .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}






.resizable10 .resizers{
  width: 100%;
  height: 100%;
}

.resizable10 .resizers .resizer{
  width: 10px;
  height: 10px;
  position: absolute;
}

.resizable10 .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize; /*resizer cursor*/
}
.resizable10 .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}
.resizable10 .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}
.resizable10 .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}





.resizable11 .resizers{
  width: 100%;
  height: 100%;
}

.resizable11 .resizers .resizer{
  width: 10px;
  height: 10px;
  position: absolute;
}

.resizable11 .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize; /*resizer cursor*/
}
.resizable11 .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}
.resizable11 .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}
.resizable11 .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}





.resizable12 .resizers{
  width: 100%;
  height: 100%;
}

.resizable12 .resizers .resizer{
  width: 10px;
  height: 10px;
  position: absolute;
}

.resizable12 .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize; /*resizer cursor*/
}
.resizable12 .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}
.resizable12 .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}
.resizable12 .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}





.item {
	height: 240px;
	width: 240px;
	background: white;
	color: #167193;
	margin: 50px;
	padding: 10px;
	box-sizing: border-box;
	float: center; 
	transition: all 500ms ease; 
	cursor: pointer;
}

.no-margin .item {
  margin: 0px;
}

.no-margin .item:hover{
  animation-play-state: paused;
}

.item{
color: white;
animation: moveBg 10s ease 1s 2 alternate none;
animation-play-state: paused;
}

.item:hover{
  animation: moveBg 10s ease 0s 2 alternate none;
}

/*
#button{
    height: 61px;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  float: center; 
  transition: all 500ms ease; 
  cursor: pointer;
  font-size: 52px;
  color:black;
}
*/

#button-1{
background-image: url('../1-1.png');
background-size: 130%;
color: white;
animation: movebb 10s ease 0s 2 alternate none;
animation-play-state: paused;
}

#button-1:hover{
animation: movebb 10s ease 0s 2 alternate none;
}

@keyframes movebb {
  100% {
    background-position: bottom right;
  }
}

#button-2{
background-image: url('../1-2.png');
background-size: 130%;
color: white;
animation: moveaa 10s ease 0s 2 alternate none;
animation-play-state: paused;}

#button-2:hover{
animation: moveaa 10s ease 0s 2 alternate none;
}

@keyframes moveaa {
  100% {
    background-position: top right;
  }
}
#button-3{
background-image: url('../1-3.png');
background-size: 130%;
color: white;
animation: movecc 10s ease 0s 2 alternate none;
animation-play-state: paused;
}

#button-3:hover{

animation: movecc 10s ease 0s 2 alternate none;
}

@keyframes movecc {
  100% {
    background-position: bottom left;
  }
}

#button-4{
background-image: url('../1-4.png');
background-size: 130%;
color: white;
animation: movej 10s ease 0s 2 alternate none;
animation-play-state: paused;
}

#button-4:hover{

animation: movej 10s ease 0s 2 alternate none;
}

@keyframes movej {
  100% {
    background-position: bottom right;
  }
}



#button-5{
background-image: url('../1-5.png');
background-size: 130%;
color: white;
animation: movee 10s ease 0s 2 alternate none;
animation-play-state: paused;
}

#button-5:hover{

animation: movee 10s ease 0s 2 alternate none;
}

@keyframes movee {
  100% {
    background-position: bottom right;
  }
}




#button-6{
background-image: url('../1-6.png');
background-size: 130%;
color: white;
animation: movef 10s ease 0s 2 alternate none;
animation-play-state: paused;
}

#button-6:hover{

animation: movef 10s ease 0s 2 alternate none;
}

@keyframes movef {
  100% {
    background-position: bottom right;
  }
}




#button-7{
background-image: url('../1-7.png');
background-size: 130%;
color: white;
animation: moveg 10s ease 0s 2 alternate none;
animation-play-state: paused;
}

#button-7:hover{

animation: moveg 10s ease 0s 2 alternate none;
}

@keyframes moveg {
  100% {
    background-position:bottom right;
  }
}




#button-8{
background-image: url('../1-8.png');
background-size: 130%;
color: white;
animation: moveh 10s ease 0s 2 alternate none;
animation-play-state: paused;
}

#button-8:hover{

animation: moveh 10s ease 0s 2 alternate none;
}

@keyframes moveh {
  100% {
    background-position: bottom right;
  }
}


#button-9{
background-image: url('../1-9.png');
background-size: 130%;
color: white;
animation: mover 10s ease 0s 2 alternate none;
animation-play-state: paused;
}

#button-9:hover{

animation: mover 10s ease 0s 2 alternate none;
}

@keyframes mover {
  100% {
    background-position: bottom left;
  }
}




#button-10{
background-image: url('../1-10.png');
background-size: 130%;
color: white;
animation: moveq 10s ease 0s 2 alternate none;
animation-play-state: paused;
}

#button-10:hover{

animation: moveq 10s ease 0s 2 alternate none;
}

@keyframes moveq {
  100% {
    background-position: bottom right;
  }
}


#button-11{
background-image: url('../1-11.png');
background-size: 130%;
color: white;
animation: movew 10s ease 0s 2 alternate none;
animation-play-state: paused;
}

#button-11:hover{

animation: movew 10s ease 0s 2 alternate none;
}

@keyframes movew {
  100% {
    background-position: bottom right;
  }
}




#button-12{
background-image: url('../1-12.png');
background-size: 130%;
color: white;
animation: movev 5s ease 0s 2 alternate none;
animation-play-state: paused;
}

#button-12:hover{

animation: movev 10s ease 0s 2 alternate none;
}

@keyframes movev {
  100% {
    background-position: bottom left;
  }
}



#button-13{
background-image: url('../1-12.png');
background-size: 130%;
color: white;
animation: movew 10s ease 0s 2 alternate none;
animation-play-state: paused;
}

#button-13:hover{

animation: movew 10s ease 0s 2 alternate none;
}

@keyframes movew {
  100% {
    background-position: bottom right;
  }
}


#button-14{
background-image: url('../1-13.png');
background-size: 130%;
color: white;
animation: movew 10s ease 0s 2 alternate none;
animation-play-state: paused;
}

#button-14:hover{

animation: movew 10s ease 0s 2 alternate none;
}

@keyframes movew {
  100% {
    background-position: bottom right;
  }
}

#button-15{
background-image: url('../1-13.png');
background-size: 130%;
color: white;
animation: movew 10s ease 0s 2 alternate none;
animation-play-state: paused;
}

#button-15:hover{

animation: movew 10s ease 0s 2 alternate none;
}

@keyframes movew {
  100% {
    background-position: bottom right;
  }
}

#button-16{
background-image: url('../1-13.png');
background-size: 130%;
color: white;
animation: movew 10s ease 0s 2 alternate none;
animation-play-state: paused;
}

#button-16:hover{

animation: movew 10s ease 0s 2 alternate none;
}

@keyframes movew {
  100% {
    background-position: bottom right;
  }
}

#button-17{
background-image: url('../1-13.png');
background-size: 130%;
color: white;
animation: movew 10s ease 0s 2 alternate none;
animation-play-state: paused;
}

#button-17:hover{

animation: movew 10s ease 0s 2 alternate none;
}

@keyframes movew {
  100% {
    background-position: bottom right;
  }
}

#button-18{
background-image: url('../1-13.png');
background-size: 130%;
color: white;
animation: movew 10s ease 0s 2 alternate none;
animation-play-state: paused;
}

#button-18:hover{

animation: movew 10s ease 0s 2 alternate none;
}

@keyframes movew {
  100% {
    background-position: bottom right;
  }
}
















/*------------------------------------------------------------color*/

#Red {
  position: fixed;
  width: 70px;
  height: 70px;
  background: #bf350b;
  width: 50px;
  height: 50px;
left: 10px;
  z-index: 2;
  top: 130px;
}

#Yellow {
  position: fixed;
  width: 70px;
  height: 70px;
  background: #E5B001;
  width: 50px;
  height: 50px;
left: 110px;
  z-index: 2;
  top: 130px;
}

#Blue {
  position: fixed;
  width: 70px;
  height: 70px;
  background: #45658c;
  width: 50px;
  height: 50px;
left: 210px;
  z-index: 2;
  top: 130px;
}

#B1 {
  position: absolute;
  border: solid black 15px;
  background-color: white;
  width: 100px;
  height: 229px;
  top: 200px;
  left: 10px;
}

#B2 {
  position: absolute;
  border: solid black 15px;
  width: 100px;
  height: 59px;
  top: 444px;
  left: 10px;
}

#B3 {
  position: absolute;
  border: solid black 15px;
  width: 100px;
  height: 40px;
  top: 519px;
  left: 10px;
}

#B4 {
  position: absolute;
  border: solid black 15px;
  width: 100px;
  height: 360px;
  top: 574px;
  left: 10px;
}

#B5 {
  position: absolute;
  border: solid black 15px;
  width: 300px;
  height: 359px;
  top: 200px;
  left: 125px;
}

#B6 {
  position: absolute;
  border: solid black 15px;
  width: 500px;
  height: 165px;
  top: 574px;
  left: 125px;
}

#B7 {
  position: absolute;
  border: solid black 15px;
  width: 500px;
  height: 180px;
  top: 754px;
  left: 125px;
}


#B8 {
  position: absolute;
  border: solid black 15px;
  width: 50px;
  height: 180px;
  top: 200px;
  left: 440px;
}

#B9 {
  position: absolute;
  border: solid black 15px;
  width: 50px;
  height: 75px;
  top: 395px;
  left: 440px;
}

#B10 {
  position: absolute;
  border: solid black 15px;
  width: 120px;
  height: 164px;
  top: 395px;
  left: 505px;
}


#B11 {
  position: absolute;
  border: solid black 15px;
  width: 50px;
  height: 74px;
  top: 485px;
  left: 440px;
}

#B12 {
  position: absolute;
  border: solid black 15px;
  width: 435px;
  height: 180px;
  top: 200px;
  left: 505px;
}

/*#B13 {
  position: absolute;
  border: solid black 15px;
  width:120px;
  height: 164px;
  top: 315px;
  left: 485px;
}
*/

#B13 {
  position: absolute;
  border: solid black 15px;
  width: 500px;
  height: 439px;
  top: 395px;
  left:640px;
}

#B14 {
  position: absolute;
  border: solid black 15px;
  width: 500px;
  height: 84px;
  top: 850px;
  left:640px;
}

#B15 {
  position: absolute;
  border: solid black 15px;
  width: 185px;
  height: 34px;
  top: 200px;
  left:955px;
}

#B16 {
  position: absolute;
  border: solid black 15px;
  width: 185px;
  height: 131px;
  top: 249px;
  left:955px;
}

/*
color------------------------------------------------------------*/































































@media (min-width: 668px) and (max-width: 1024px) {
  .container{
  display: grid;
  grid-template-columns: repeat(4,240px);
}
}

@media (min-width: 375px) and (max-width: 667px) {
  .container{
  display: grid;
  grid-template-columns: repeat(2,240px);
}
}







