/* reset padding and margins */

* {
	margin: 0px;
	padding: 0px;

}

div{
	font-family: 'Dosis', sans-serif;
	font-size: 75px;
	position: absolute;
}

.navtitle {
	font-size: 4.5vw;
}

#painting1{
	left:20px;
	transition: 0.5s ease;
}

#painting1:hover {
  animation: shift 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  filter: blur(1px);
}

@keyframes shift {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(70px, 0, 0);
  }
}




#painting2{
	right: 220px;
	position: absolute;
	transition: 0.5s ease;
}

#painting2:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  filter: blur(1px);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(6px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(16px, 0, 0);
  }
}


#painting3{
transform: rotate(90deg);
top: 310px;
right:-290px;
}

#painting4{
transform: rotate(180deg);
bottom:10px;
right:20px;
transition: 0.5s ease;
}

#painting4:hover{
	filter: blur(7px);
}

#painting5{
transform: rotate(180deg);
bottom:10px;
left:240px;
}


#painting6{
transform: rotate(-90deg);
position: absolute;
bottom: 310px;
left:-275Px;
}


#artist{
font-size: 25px;
top: 430px;
left:770px;
/*transition: transform 5s ease;*/
/*z-index: 0;*/
}



#bio {

font-size: 15px;
width: 400px;
text-align: justify;
top: -200px;
left: -140px;
opacity:0;
transition:  all 1s ease;
}

/*.name{
  transition:  all 5s ease;
}

.show{
  opacity: 1 !important;
  transition:  all 5s ease;
}

.hide{
  opacity: 0;
  transition:  all 5s ease;
}


*/

#artist:hover #bio {
    opacity:1;
    transition:  all 1s ease;
}

#artist:hover .name {
    opacity:0;
    transition:  all 1s ease;
}






.navs {
	font-size: 3vw;
}



#ps1{
	left:20px;
	transition: 0.5s ease;
}


#ps2{
	right: 20px;
	position: absolute;
	transition: 0.5s ease;
}


#ps3{
transform: rotate(90deg);
top: 430px;
right:-230px;
}

#ps4{
transform: rotate(180deg);
bottom:10px;
right:20px;
transition: 0.5s ease;
}


#ps5{
transform: rotate(180deg);
bottom:10px;
left: 20px;
}


#ps6{
transform: rotate(-90deg);
position: absolute;
top:430px;
left:-230px;
}


#PortraitSchniewind{
top: 150px;
left:420px;
}





#gy3{
transform: rotate(90deg);
top: 415px;
right:-125px;
}


#gy6{
transform: rotate(-90deg);
position: absolute;
top:430px;
left:-123px;
}


#Gymnastik{
top: 150px;
left: 610px;
}



#reader3{
transform: rotate(90deg);
top: 430px;
right:-200px;
}


#reader6{
transform: rotate(-90deg);
position: absolute;
top:430px;
left:-200px;
}

#reader{
top: 150px;
left:390px;
}



#ella3{
transform: rotate(90deg);
top: 410px;
right:-125px;
}


#ella6{
transform: rotate(-90deg);
position: absolute;
top:410px;
left:-123px;
}


#ella{
top: 150px;
left:600px;
}




#ta3{
transform: rotate(90deg);
top: 430px;
right:-280px;
}


#ta6{
transform: rotate(-90deg);
position: absolute;
top:430px;
left:-280px;
}


#ta{
top: 150px;
left:560px;
}





#s3{
transform: rotate(90deg);
top: 440px;
right:-350px;
}


#s6{
transform: rotate(-90deg);
position: absolute;
top:440px;
left:-350px;
}

#self{
top: 150px;
left:560px;
}




#PSinfo{
top: 150px;
left:20px;
}


/*#Gymnastikinfo{
	top: 150px;
left: 20px;
}*/


.pstable{
	left: 1075px;
	top:320px;
	font-size: 15px;

}

td, th {
    text-align: left;
    padding: 10px;
}






